*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/metals.sbt
project/project/project/metals.sbt
project/metals.sbt
build/output
src/test/resources/laptop_baby.jpg

# Scala-IDE specific

.scala_dependencies
.worksheet
.idea
.metals
.bloop
.vscode
.bsp
